/* ttube */


/* top */
.top{
    position:fixed;
    left:0;top:0;width:100%;
    height:5%;
    background:rgb(44, 44, 44);
}

.opsearch{
   right: 45%;
   position: fixed
    

}

.nt{
    color: red;
    height:50%;
    width:5%;
    text-align: center;
    margin: 5px;
}

/* center */
.center{
    text-align: center;
    position:fixed;
    left:0;
    top:5%;
    width:80%;
    height:70%;
    background-color: rgb(245, 245, 245)

}

.player{
    height: 100%;
    width: 100%
}

/* right */
.right{
    position:fixed;
    right:0;
    top:5%;
    width:20%;
    height:100%;

    background-color: rgb(245, 245, 245);
}
#table{
    height: 100%;
    width: 100%
}

/* bot */
.bot{
    background-color: rgb(245, 245, 245);
    position:fixed;
    left:0;
    top:75%;
    width:80%;
    height:100%;
 
}

.comment{
    position:fixed;
    left:10px
}